body {
  font-family: "Open Sans", sans-serif;
}

.marketplace-stores {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
  grid-gap: 20px;
  justify-content: center;
}

.item {
  background: coral;
}

.gridHero {
  display: grid;
  grid-column: span 2 / 8;
  grid-row: span 1;
  grid-gap: 20px;
  grid-template-columns: auto 30%;
  grid-template-rows: 330px;
}

.gridHero__banner-container {
    overflow: hidden;
}

.gridHero__bannerImage {
}

.gridHero__logoContainer {
  position: absolute;
  justify-self: center;
  align-self: center;
  padding-left: 28%;
}

.gridHero__logo {
  width: 125px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gridHero__lure {
    font-size: 28px;
    font-weight: 100;
}

.gridHero__description {
  background: white;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
}

.gridHero__dealDescription {
    font-size: 14px;
    font-weight: 400;
}

.gridHero__dealKick {
    font-size: 12px;
    font-weight: 600;
}

.gridHero__dealCTA {
    border: none;
    background: midnightblue;
    color: white;
    font-size: 21px;
    padding: 10px 20px;
    border-radius: 5px;
}